<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AlbsigBay - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-sweetalert@1.0.1/dist/sweetalert.min.css">
    <link rel="stylesheet" type="text/css" href="/public/style.css"/>
</head>
<body>
<%- include('../components/nav', {page: 'profile'}) %>
<main class="container">
    <div class="mt-3">
        <% if (!user.isAdmin) { %>
            <div class="row">
                <h1 class="display-4">Ausgeliehene Bücher:</h1>
                <hr>
                <% if (typeof books.message === 'undefined') { %>
                    <div class="mt-4">
                        <div id="books" class="container">
                            <% books.forEach(function(book) { %>
                                <div class="card mb-3">
                                    <div class="row mt-3 mb-3">
                                        <div class="col-2 mr-3 col-xs-12">
                                            <a href="/book/<%= book.id %>">
                                                <img src="/public/books/covers/<%= book.cover %>" width="200px"
                                                     height="auto" alt="<%= book.title %>">
                                            </a>
                                        </div>
                                        <div class="col-9 col-xs-12 ms-1 me-0 ps-5 pe-0">
                                            <div class="card-block px-2">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h4 class="card-title" id="title">
                                                            <a href="/book/edit/<%= book.id %>"><%= book.title %></a>
                                                        </h4>
                                                    </div>
                                                    <div class="col-12 mt-3">
                                                        <p class="card-text" id="description">
                                                            <span>
                                                                <strong>Ausgeliehen am: <%= book.borrowedBook.borrowedDate %></strong>
                                                            </span>
                                                            <br>
                                                            <span>
                                                                <strong>Zurückzugeben am: <%= book.borrowedBook.returnDate %></strong>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% } else { %>
                    <%= books.message %>
                <% } %>
            </div>
        <% } %>
        <div class="row mt-2">
            <form action="/profile/name/<%= user.id %>/" id="updateNameForm" method="post" class="row g-3" novalidate>
                <h1 class="display-4">Profil Einstellen</h1>
                <hr>
                <h1 class="display-6">Name Ändern</h1>
                <div class="col-md-4">
                    <label for="firstname" class="form-label">Vorname</label>
                    <input type="text" class="form-control" value="<%= user.firstname %>" name="firstname"
                           id="firstname">
                </div>
                <div class="col-md-4">
                    <label for="name" class="form-label">Nachname</label>
                    <input type="text" class="form-control" value="<%= user.name %>" name="name" id="name">
                </div>
                <div class="col-md-2">
                    <label for="updateName" class="form-label">&nbsp;</label>
                    <input type="submit" class="btn btn-success form-control" value="Aktualisieren" name="updateName"
                           id="updateName">
                </div>
            </form>
        </div>
        <div class="row mt-2">
            <form action="/profile/password/<%= user.id %>/" id="updatePasswordForm" method="post"
                  class="row g-3 form-validation" novalidate>
                <hr>
                <h1 class="display-6">Password Ändern</h1>
                <div class="col-md-4">
                    <label for="oldPassword" class="form-label">Altes Passwort</label>
                    <input type="password" class="form-control" name="oldPassword" id="oldPassword" required>
                    <div class="invalid-feedback">
                        Bitte Password eingeben.
                    </div>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <label for="newPassword" class="form-label">Neues Passwort</label>
                    <input type="password" class="form-control" name="newPassword" id="newPassword" required>
                    <div class="invalid-feedback">
                        Bitte Passwort eingeben.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="reNewPassword" class="form-label">Neues Passwort bestätigen</label>
                    <input type="password" class="form-control" name="reNewPassword" id="reNewPassword" required>
                    <div class="invalid-feedback">
                        Bitte neues Passwort bestätigen.
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="updatePassword" class="form-label">&nbsp;</label>
                    <input type="submit" class="btn btn-success form-control" value="Aktualisieren">
                </div>
            </form>
        </div>
        <div class="row mt-2">
            <form class="row g-3" novalidate>
                <hr>
                <div class="col-12">
                    <button class="btn btn-danger" type="submit" id="deleteUserButton">Account Löschen</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-sweetalert@1.0.1/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    window.onload = () => {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        let forms = document.querySelectorAll('.form-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated')
                }, false)
            });
    };

    document.querySelector('#deleteUserButton').addEventListener('click', (e) => {
        e.preventDefault();
        swal({
                title: "Bist du dir sicher?",
                text: "Dies kann nicht rückgängig gemacht werden!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Ja, lösche meinen Account!",
                cancelButtonText: "Abbrechen",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    axios.delete(`/api/user/<%= user.id %>/`).then(() => {
                        window.location.href = '/login';
                    });
                }
            });
    });
</script>
</body>
</html>
